body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

form label {
  display: block;
  margin-bottom: 6px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  margin-bottom: 15px;
}

#film-form button[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

#film-form button[type="submit"]:hover {
  background-color: #444;
}

#form-error {
  display: none;
  color: #d10000;
  margin-top: 10px;
  font-size: 14px;
}

.filters-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.toolbar-block {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
  margin: 0 0 20px 0;
}

.toolbar {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  display: flex;
  gap: 12px;
  width: 70%;
  align-items: center;
}

.toolbar input,
.toolbar select {
  height: 38px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
}

#deleteAllBtn {
  background-color: #e31c1c;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  min-width: 120px;
  height: 38px;
  transition: background 0.2s ease;
}

#deleteAllBtn:hover {
  background-color: #c41414;
}


table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #333;
  color: #fff;
  text-align: left;
}

td {
  vertical-align: middle;
}

td button[data-action="delete"] {
  background-color: #e31c1c;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  min-width: 160px;
  transition: background 0.2s ease;
}

td button[data-action="delete"]:hover {
  background-color: #c41414;
}

td:last-child {
  text-align: right;
}
