* {
    box-sizing: border-box;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.btn {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: green;
    color: white;
    margin-right: 15px;
}

.products__list {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    list-style: none;
    padding: 0;
}



