body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input.focused {
    border: 2px solid #333;
    background-color: #eef;
    outline: none;
}


#card {
    margin-top: 20px;
    padding: 20px;
    height: 120px;
    border-radius: 10px;
    background-color: #ccc;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}