html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(204, 213, 221);
}

.app{
    max-width: 500px;
    padding: 40px 15px;
    margin: 0 auto;
}

.card {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

.main-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.desc{
    text-align: center;
    margin-top: 0;
    margin-bottom: 28px;
}

.btn{
    background-color: rgb(42, 49, 255);
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}
.btn:hover{
    background-color: rgb(59, 65, 255);
}
.btn:active{
    background-color: rgb(28, 34, 226);
}

.center-wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.text-field{
    display: block;
    width: 100%;
    padding: 12px 24px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
}

.text-field:focus{
    border-color: rgb(42, 49, 255);
}

.link{
   color: gray;
   transition: color .3s;
}
.link:hover{
    color: rgb(42, 49, 255);
}

.loader {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(42, 49, 255);
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(42, 49, 255) transparent transparent;
}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}